.readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: white;
  margin: 10px;
}

#lang {
  font-size: 0.15rem;

  .ua-mobile & {
    font-size: 30px;
    @media (orientation:landscape){
      font-size: 20px;
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  // background-color: black;

  color: rgba(255, 255, 255, 0.498039);

    -webkit-transition: color 2s;
    -moz-transition: color 2s;
    -ms-transition: color 2s;
    -o-transition: color 2s;
    transition: color 2s;

  a {
    -webkit-transition: color 2s;
    -moz-transition: color 2s;
    -ms-transition: color 2s;
    -o-transition: color 2s;
    transition: color 2s;

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    color: rgba(255, 255, 255, 0.99);
  }

  .viewing-page-7 & {
    color: rgba(0, 0, 0, 0.99);
    a {
      color: rgba(0, 0, 0, 0.99);
      font-weight: bold;
    }

  }
}

.onepage-pagination li:nth-child(3) {
  height: 0;
}
.onepage-pagination a {
  color: white;
  font-family: AppleGothic, 'AppleGothic Regular', "ヒラギノ角ゴ Pro W3", sans-serif;
  letter-spacing: 1px;

  &[data-index="1"]:before { content: "News"; }
  &[data-index="2"]:before { content: "Philosophy"; }
  &[data-index="3"] {   visibility: hidden; }


  &[data-index="4"]:before { content: "Vision"; }
  &[data-index="5"]:before { content: "Career"; }
  &[data-index="6"]:before { content: "Corporate"; }
  &[data-index="7"]:before { content: "Contact"; }
}

.ua-mobile .onepage-pagination {
  @media (orientation:landscape){
    li a {
      
    }
  }

  @media (orientation:portrait){

  }
}


.onepage-pagination {
  background-color: rgba(0,0,0,0.8);
  padding: 0;
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 5;
  list-style: none;
  margin: 0;
  li {
    margin:0;
    padding: 0;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    box-sizing: border-box;
    height: 1em;

    a {
      text-decoration: none;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      display: block;

      padding-left: 0.4em;
      padding-right: 0.4em;

      box-sizing: border-box;
      line-height: 1em;
      &:before {
        font-size: 0.35em;
        vertical-align: middle;
      }

      &.active {
        position: relative;

        &:after {
          content: "";
          border: 0.25em solid transparent;
          border-left-color: white;
          position: absolute;
          margin: 0;
          top: 0.25em;
          left: 0;
          visibility: visible;
        }
        &[data-index="3"]:after {
          top: -0.75em;
        }
      }
      &:before {

      }
      &.active:before {
      }
    }
  }
}
