html.ua-mobile {
  video{display: none}

  @media (orientation:portrait){

    .News h1 {
      width: 70%;
      height: 14%;
    }

    dl {
      font-size: 20px;
    }

    section {
      article {
        width: 80%;
      }

      h1 {
        font-size: 50px;
      }
      p {
        font-size: 30px;
      }
    }

    .Philosophy-1 {
      article {
        width: 75%;
        left: 5%;
      }
    }
    .Vision {
      article {
        top: 40%;
        bottom: auto;
      }
    }
    .Career {
      article {
        top: 20%;
      }
    }
  }
}
