html.ua-mobile {
  video{display: none}

  @media (orientation:landscape){
    .Philosophy-2 article {
      h2 {
        font-size: 28px;
      }
    }
  }

  @media (orientation:portrait){

    .News h1 {
      width: 80%;
      height: 14%;

      background-size: 100%;
      background-position: center center;
    }

    .onepage-pagination {
      width: 150px;
      font-size: 24px;
      top: 20px;
      a:after {
        top: 12px;
      }

      a.active[data-index="3"]:after {
        top: -40px;
      }
    }

    dl {
      font-size: 20px;
    }

    section {
      article {
        width: 80%;
      }

      h1 {
        font-size: 50px;
      }
      p {
        font-size: 30px;
      }
    }

    .Philosophy-1 {
      article {
        width: 75%;
        left: 5%;

        h1 {
        }
      }
    }
    .Philosophy-2 article {
      top: 30%;
    }

    .Vision {
      article {
        top: 35%;
        bottom: auto;
      }
    }
    .Career {
      article {
        top: 25%;
      }
    }
    .Contact article {
      top: 20%;
    }
  }
}
