html.ua-mobile {
  video{display: none}

  /* 横 */
  @media (orientation:landscape){

  }

  /* 縦 */
  @media (orientation:portrait){
     dl {
      font-size: 13px;
    }

    section {
      article {
        width: 80%;
        p {
          font-size: 0.28rem !important;
          line-height: 0.30rem;
        }
      }
    }

    .News .logo {
      width: 80%;
      height: 14%;

      background-size: 100%;
      background-position: center center;
    }


    .Philosophy-1 {
      background-position: 90% top;
      article {
        h1 {
          font-size: 32px;
        }
        width: 75%;
        left: 10%;
        right: 0;
        top: 36%;
        bottom: auto;
      }
    }
    .Philosophy-2 { 
      background-position: center center;
      article {
        top: 3.7rem;
        h1 {
          font-size:0.5rem;
        }
        h2 {
          margin-top:0.4rem;
          font-size:0.5rem;
        }
        p {
          letter-spacing: -0.01rem;
        }
      }
    }

    .Vision {
      article {
        top: 35%;
        bottom: auto;

        h1{font-size: 0.5rem}
        h2{font-size: 0.4rem}
      }
    }
    .Career {
      background-position: 30% center;
      .cover {
        background-color: rgba(0,0,0,0.5);
      }
      
      article {
        top: 30%;
        right: 0;

        div {
          margin-top: 80px;
        }

        p {
          font-size: 0.32rem;
        }
      }
    }

    &.en .Corporate article h1 {
      font-size: 40px !important;
    }

    .Corporate article {
      font-size: 32px;

      h1{
        margin: 0;
        margin-bottom: 20px;
      }

      dt,dd{
        line-height: 32px;
        box-sizing: border-box;
      }
      dt {
        font-size: 20px;
        &.small{ font-size: 14px }
      }
      dd {
        font-size: 26px;

        &.description {
          font-size: 15px;
        }
        &.small{ font-size: 14.5px }
      }
    }
    .Contact article {
      top: 10%;
      bottom: auto;
      form {
        width: 50%;
        margin: 0px auto;
      }
      h1 {
        font-size: 50px;

      }
      dl {
        font-size: 0.21rem;
      }
      dd,dt{
        float: none;
        float: none;
        text-align: left;
        width: 100%;
      }
      dt {
        font-size: 30px !important;
      }
      dd {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
}
