/*
 *= require font-awesome
 *= require _normalize
 *= require _onepage-scroll
 *= require _menu
 *= require _mobile
 *= require_tree ./pages
 */

@charset "utf-8";
a:focus, *:focus { outline:none; }

#scroll-down-caret {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
  font-size: 90px;
  color: rgba(255,255,255,.8);
}

.close {
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
}

#news-readmore {
  &:hover {
    span{ text-decoration: underline; }
  }
  width: 360px;
  span {
    float: right;
  }
}

#news-more {
  position: absolute;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  width: 300px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  color: black;

  .en & {
    p {
      font-size: 0.8em;
    }
  }
}

html {
  background-repeat: repeat;
  background-color: black;
}

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  font-family: "Apple TP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, sans-serif;
  line-height: 1.8
}

.en-title {
  font-family: AppleGothic, 'AppleGothic Regular', "ヒラギノ角ゴ Pro W3", sans-serif;
}

body.en h1 {
  @extend .en-title;
}

h1 {
  white-space: nowrap; 
  line-height: 100%;
}
h2 {
  white-space: nowrap; 
}

h1,h2,p {
  color: white;
}

section {
  overflow: auto;
  background-repeat: no-repeat;
}

article p {
  text-align: justify;
}

.fadeInOut {
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 1.25s;
  transition-property: opacity;
  &.active {
    opacity: 1;
  }

  article {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
  }
  &.active article {
    opacity: 1;
    transition-delay: 1.75s;
    transition-duration: 1s;
    transition-property: opacity;
  }
}

.fadeOut {
  article {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  &.active article,&.displayed article {
    opacity: 1;
  }
}


.Contact {
  background-color: white;

  font-family: "Roboto";
  color: rgb(80,80,80);
  .en & {
    dt{ font-size: 0.8em; line-height: 1em }
    .small {font-size: 0.7em }
  }

  input,textarea{
    border: none;
    outline: none;
    width: 100%;  -webkit-appearance: none;
  }
  input {
    margin:0;
    box-sizing: border-box;
    border: 2px solid #ddd;
  }
  input[type="submit"] {
    display: inline-block;
    margin: 0 auto;
    color: #666;
    background: white;
    border: none;
    line-height: 1.4em;
    font-size: 18px;
    padding: 1em 3em;
    cursor: pointer;
    border: 2px solid #ddd;
    margin-top: 20px;
  }
  textarea {
    resize: vertical;
    height: 100px;
    border: 2px solid #ddd;
    box-sizing: border-box;
  }

  article {
     h1 {
       margin: 0;
       color: rgb(80,80,80);
       text-align: center;
       letter-spacing: 0.08em;
       font-family: 'Lato', sans-serif;
     }
     dt {
       box-sizing: border-box;
       text-align: right;
       font-weight: bold;
       padding: 10px 0;
       float:left;
       clear:left;
       width:20%;
       line-height: 1em;
     }

     dd {
       line-height: 1em;
       font-size: 0.9em;
       float:left;
       width:70%;
       border-top: 1px solid white;
       &:last-child {
         border-bottom: 1px solid white;
       }
     }

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 600px;
     height: 380px;
  }
}
