/*
 *= require font-awesome
 *= require _normalize
 *= require _onepage-scroll
 *= require _menu
 *= require _mobile
 *= require_tree ./pages
 */

@charset "utf-8";
a:focus, *:focus { outline:none; }

#scroll-down-caret {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
  font-size: 90px;
  color: rgba(255,255,255,.8);
}

.close {
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
}

#news-readmore {
  &:hover {
    span{ text-decoration: underline; }
  }
  width: 360px;
  span {
    float: right;
  }
}

#news-more {
  position: absolute;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  width: 300px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  color: black;

  .en & {
    p {
      font-size: 0.8em;
    }
  }
}

html {
  background-repeat: repeat;
  background-color: black;
}

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  font-family: "Apple TP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, sans-serif;
  line-height: 1.8
}

.en-title {
  font-family: AppleGothic, 'AppleGothic Regular', "ヒラギノ角ゴ Pro W3", sans-serif;
  font-weight: 100;
}

html.en h1,
html.en h2 {
  @extend .en-title;
}

h1 {
  white-space: nowrap; 
  line-height: 100%;
}
h2 {
  white-space: nowrap; 
}

h1,h2,p {
  color: white;
}

section {
  overflow: auto;
  background-repeat: no-repeat;
}

article p {
  text-align: left;
}

.fadeInOut {
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 1.25s;
  transition-property: opacity;
  &.active {
    opacity: 1;
  }

  article {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
  }
  &.active article {
    opacity: 1;
    transition-delay: 1.75s;
    transition-duration: 1s;
    transition-property: opacity;
  }
}

.fadeOut {
  article {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  &.active article,&.displayed article {
    opacity: 1;
  }
}



