@charset "utf-8";

@import "onepage-scroll";
@import "menu";



html {
  background-color: black;
  font-size: 12px;
  @media screen and (min-width : 768px) { font-size: 14px }
  @media screen and (min-width : 1024px){ font-size: 16px }
}

h1,h2,p {
  color: white;
}

section {
  overflow: auto;
}

.News {
  
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
  }
  h1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: image_url('logo_white.png');
    width: 463px;
    height: 112px;

    color: white;
    text-shadow: 0 1px 3px black;
    font-size: 54px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.Philosophy-1 {
  background-color: rgb(113,20,21);
  background-image: image_url('cover-network.png');
  // background-image: image_url('cover-philosophy-red.png');
  background-position: right top;
  background-size: cover;

  article {
    color: white;

    h1{
      margin: 0;
      font-weight: normal;

      b {

      }
    }
    p {
    }
 
    position: absolute;
    margin: 0 auto;
    left: auto;

    width: 45%;

    @media (max-width: 1200px) {
      right: 165px;
      width: 400px;
    }
    top: 30%;
    right: 10%;
  }
}

.Philosophy-2 {
  background-image: image_url('cover-philosophy.jpg');
  background-size: cover;

  article {
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
  }
}

.Vision {
  background-image: image_url('cover-vision.png');
  background-position: right top;
  background-size: cover;

  article {
    color: white;

    position: absolute;
    margin: 0 auto;
    width: 300px;
    bottom: 140px;
    left: auto;
    right: 10%;
  }
}

.Career {
  background-color: black;
  background-image: image_url('cover-career.png');

  background-position: right top;
  background-size: cover ;
  @media (max-width: 1151px) {
    width: 100%;
  }

  article {
    position: absolute;
    margin: 0 auto;
    width: 600px;
    top: 140px;
    left: auto;
    right: 10%;

    text-shadow: 0 1px 3px black;
  }
}

.Corporate {
  background-color: white;
  background-image: image_url('cover-corporate.jpg');
  background-size: cover;
  background-position: center bottom;
  color: white;

  article {
     h1 {
       text-align: center;
       letter-spacing: 0.08em;
       font-family: 'Lato', sans-serif;
     }
     dt {
       text-align: center;
       font-weight: bold;
       padding: 10px 0;
       float:left;
       clear:left;
       width:7em;

       border-bottom: 1px solid white;
       &:first-child {
         border-top: 1px solid white;
       }
     }

     dd {
       font-size: 0.9em;
       float:left;
       width:29em;

       padding: 10px 0;
       border-top: 1px solid white;
       &:last-child {
         border-bottom: 1px solid white;
       }
     }

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 600px;
     height: 500px;
  }
}

.Contact {

  background: -webkit-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #005C97 10%, #363795 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #005C97 10%, #363795 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #005C97 10%, #363795 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #005C97 10%, #363795 90%); /* W3C */


  input,textarea{
    border: none;
    outline: none;
    width: 100%;  -webkit-appearance: none;
  }
  input {
    margin:0;
    box-sizing: border-box;
  }
  input[type="submit"] {
    display: inline-block;
    margin: 0 auto;
    color: #666;
    background: white;
    border: none;
    line-height: 1.4em;
    font-size: 18px;
    padding: 1em 3em;
    cursor: pointer;
    border: 2px solid #ddd;
    margin-top: 20px;
  }
  textarea {
    resize: vertical;
    height: 100px;
  }

  article {
    color: white;
     h1 {
       color: white;
       text-align: center;
       letter-spacing: 0.08em;
       font-family: 'Lato', sans-serif;
     }
     dt {
       box-sizing: border-box;
       text-align: center;
       font-weight: bold;
       padding: 10px 0;
       float:left;
       clear:left;
       width:7em;

       border-bottom: 1px solid white;
       &:first-child {
         border-top: 1px solid white;
       }
     }

     dd {
       font-size: 0.9em;
       float:left;
       width:29em;
       border-top: 1px solid white;
       &:last-child {
         border-bottom: 1px solid white;
       }
     }

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 600px;
  }

}
