---
title: Smart Universe inc.
---
.main
  section.News.fadeOut= partial "news"
  section.Philosophy-1.fadeOut= partial "philosophy-1"
  section.Philosophy-2.fadeOut= partial "philosophy-2"
  section.Vision.fadeOut= partial "vision"
  section.Career.fadeIn= partial "career"
  section.Corporate.fadeOut=partial "corporate"
  section.Contact.fadeOut=partial "contact"
