.Corporate {
  background-color: white;
  background-image: image_url('cover-corporate.jpg');
  background-size: cover;
  background-position: center center;
  color: white;

  .en & {
    dl{padding-top: 30px}
    dt{font-size: 0.8em}
    dt{width: 23%}
    .small{font-size:0.6em}
    .description{letter-spacing: -0.3px}
    .address{
      font-size: 1em;
      letter-spacing: -0.3px;
    }
    line-height: 1em;
  }

  article {
     h1 {
       font-weight: normal;
       text-align: center;
       letter-spacing: 0.08em;
     }
     dt {
       font-weight: normal;
       text-align: center;
       font-weight: bold;
       padding: 10px 0;
       float:left;
       clear:left;
       width:20%;

       border-bottom: 1px solid white;
       &:first-child {
         border-top: 1px solid white;
       }
     }

     dd {
       font-size: 0.9em;
       float:left;
       width:70%;

       padding: 10px 0;
       border-top: 1px solid white;
       &:last-child {
         border-bottom: 1px solid white;
       }
     }

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 600px;
     height: 370px;
  }
}
