.News {
  // background-image: image_url('yoko.png');
  background-repeat: repeat;
  .ua-mobile & {
    background-image: image_url('cover-top.png');
    background-size: cover;
    background-position: center center;
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-52%);
    transform: translateX(-50%) translateY(-49%);
  }
  .logo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: image_url('logo_white.png');
    width: 463px;
    height: 112px;

    color: white;
    text-shadow: 0 1px 3px black;
    font-size: 54px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}


