.Philosophy-1 {
  
  img {
    position: absolute; top: 0; right: 0; 

    &.width {width: 100%}
    &.height{height: 100%}
  }

  z-index: 0;
  background-color: rgb(113,20,21);
  // background-image: image_url('cover-network.png');
  background-position: right top;
  background-size: cover;

  article {
    z-index: 100000;
    color: white;
    h1{
      margin: 0;
      font-weight: normal;
      text-align: center;
      padding: 0;
    }

    position: absolute;
    height: 0.38em;
    width: 1em;

    //margin: auto;
    //right: -4rem;
    //bottom: 0;
    //top: 0rem;
    //left: 0;

    h1 {
      font-size: 0.08em;
      .en & {
        font-size: 0.08em;
      }
      b {
        font-size: 1.1em;
      }
    }
    p {
      font-size: 0.029em;
    }
  }
}
