.Philosophy-1 {
  
  img {
    position: absolute; top: 0; right: 0; 

    &.width {width: 100%}
    &.height{height: 100%}
  }

  z-index: 0;
  background-color: rgb(113,20,21);
  // background-image: image_url('cover-network.png');
  background-position: right top;
  background-size: cover;

  article {
    z-index: 100000;
    color: white;
    h1{
      margin: 0;
      margin-left: -0.01rem;
      font-weight: normal;
      text-align: center;
      padding: 0;
      .en & b {
        font-size: 0.35rem;
      }

    }

    position: absolute;
    width: 3.8rem;
    height: 1.2rem;

    //margin: auto;
    //right: -4rem;
    //bottom: 0;
    //top: 0rem;
    //left: 0;

    h1 {
      font-size: 0.32rem;
      margin-left: -0.08rem;
    }
    p {
      font-size: 0.1177rem;
    }
  }
}
