<video autoplay="" class="cover-video" loop="" muted="" src="http://aileron.cc/background.mp4" type="video/mp4"></video>
<article>
<h1></h1>
<a id="news-readmore" class="readmore">
2015年4月28日 商号を「スマートユニバース株式会社」に変更することを決定致しました。▷Newsをもっと見る
</a>
</article>
