<article>
    <div class="logo"></div>
    <a id="news-readmore" class="readmore">
        April 28, 2015：Our corporate name is changed to Smart Universe Inc.("Smart Universe”).
        <span>▷see more about News</span>
    </a>
    <div id="scroll-down-caret" class="fade-anim">
        <i class="fa fa-angle-down"></i>
    </div>
</article>
<div id="news-more" style="display:none">
    <span class="close">&times;</span>
    <p class="cover-heading">News
    </p>
    <hr>
    <p>April 28, 2015</p>
    <p>Our corporate name is changed to Smart Universe Inc.("Smart Universe").</p>
    <hr>
    <p>September 13, 2012</p>
    <p>OMT JAPAN Inc.(“OMT JAPAN”) announced today that it has completed the allocation of new shares to a third party.</p>
    <hr>
    <p>September 13, 2012</p>
    <p>Today we registered a company name with OMT JAPAN Inc.(“OMT JAPAN”).</p>
</div>
