<video autoplay="" class="cover-video" muted="" src="<%=image_path "background-big.mp4" %>" type="video/mp4"></video>
<article>
<h1></h1>
<a id="news-readmore" class="readmore">
    Its name April 28, 2015 we decided to change to the "Smart Universe Inc" . See more ▷ News
</a>
</article>
<div id="news-more" style="display:none">
    <span class="close">&times;</span>
    <p class="cover-heading">News
    </p>
    <hr>
    <p>April 28, 2015</p>
    <p>We decided to change its name to "Smart Universe Inc." .</p>
    <hr>
    <p>September 13, 2012</p>
    <p>A third-party allocation of new shares to the underwriter individual investors we conducted .</p>
    <hr>
    <p>September 13, 2012</p>
    <p>We registered the Corporation OMT JAPAN.</p>
</div>
