<video autoplay="" class="cover-video" muted="" src="<%=image_path "background-big.mp4" %>" type="video/mp4"></video>
<article>
<h1></h1>
<a id="news-readmore" class="readmore">
2015年4月28日 商号を「スマートユニバース株式会社」に変更することを決定致しました。▷Newsをもっと見る
</a>
</article>

<div id="news-more" style="display:none">
    <span class="close">&times;</span>
    <p class="cover-heading">News
    </p>
    <hr>
    <p>2015年4月28日</p>
    <p>商号を「スマートユニバース株式会社」に変更することを決定致しました。</p>
    <hr>
    <p>2012年9月13日</p>
    <p>個人投資家を引受先とする第三者割当増資を実施致しました。</p>
    <hr>
    <p>2012年9月13日</p>
    <p>株式会社OMT JAPANを登記致しました。</p>
</div>


